<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      {% if page.edited %}
      <span id="date">{{ page.edited | date_to_string }}</span>
      {% else %}
      <span id="date">{{ page.date | date_to_string }}</span>
      {% endif %}
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      {% if page.date %}
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
      {% endif %}
      {% if page.edited %}
      <span id="pub-date">Last edit on {{ page.edited | date_to_string }}</span> <span class="separator">&bull;</span>
      {% endif %}
      <span id="social">Find me on <a href="https://linkedin.com/in/renanmav">LinkedIn</a>!</span>
    </p>
  </div>
</div>
